<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Thomas Cazottes{% endblock %}
		</title>
		<!-- Bootstrap files -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link
		href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- Css files -->
		<link rel="stylesheet" href="{{ asset('assets/css/base.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/show.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/title.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/article.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/gallery.css') }}"> 
		<link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
        {% block stylesheets %}{% endblock %}
		</head>

		<body>
			{% block header %}{% endblock %}
			{% block body %}{% endblock %}
			{% block javascripts %}{% endblock %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
			<script src="{{ asset('assets/js/modal.js') }}"></script>

		</body>
		<!-- Footer -->
		{% block footer %}
			{% include "main/footer.html.twig" %}
		{% endblock %}

	</html>

</html>
